table{
    border: 1px solid skyblue;
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
}
input[type="button"]{
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
}
input[type="text"]{
    padding: 20px 30px;
    border-radius: 5px;
    background-color: whitesmoke ;
    color: black;
}
.container{
    background-color: skyblue;
    justify-content: center;
    align-items: center;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    margin-bottom: 5px;
    color: whitesmoke;
}
